* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {
  --scrollbar: #d8d8d8d0;
  --scrollbar-hover: #fafafa6c;
  --purple-light-1: #fafafb;
  --purple-light-2: rgb(240, 240, 240);
  --purple-medium-1: #83acc8;
  --purple-medium-2: #4889bf;
  --purple-medium-3: #215b8a;
  --purple-dark-1: #1d67d6;
  --purple-dark-2: #1365c2;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Inter', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

body {
  width: 100%;
  background-color: #0A0A0A;
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  background-color: var(--purple-light-1);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple-dark-2);
  border-radius: 10px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: rgb(240, 240, 240);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

#searchBtn {
  transition: all 150ms ease-in;
}

#searchBtn:hover {  
  background-color: var(--purple-medium-2);
}#searchBtn:active {  
  background-color: var(--purple-medium-2);
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container {
  padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title {
  margin-bottom: 24px;
}

.trendingPreview-movieList::-webkit-scrollbar {
  height: 7px;
  transition: all 150ms;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb {
  transition: all 150ms;

  background: var(--scrollbar);
  border-radius: 5px;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
  transition: all 150ms;
  border-radius: 5px;
}


.movie-container {
  cursor: pointer;
}

.icon {
  width: 30px;
}
.icon-search {
  width: 20px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}

.movie-img {
  transition: all 150ms ease-in;
  border-radius: 8px;
}
.movie-img:hover {
  transform: scale(1.05);
}


.categoriesPreview-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.categories-list {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('../assets/scale.jpeg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(../assets/scale.jpeg);
  background-size: cover !important;
  background-position: center center;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  color: rgb(240, 240, 240);
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border: 2px solid var(--purple-dark-1);
  background-color: transparent;
  transition: all 150ms ease-in;
  border-radius: 8px;
  height: 32px;
  width: 72px;
}
.trendingPreview-btn:hover {
  background-color: var(--purple-dark-2);
  border: 2px solid transparent;
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right:16px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  transition: all 150ms ease-in;
  display: flex;
  margin-bottom: 14px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title:hover {
  color: var(--purple-light-2);
  text-decoration:underline;
}.category-title:active {
  color: var(--purple-light-2);
  text-decoration:underline;
}

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: #0A0A0A;
}

.movieDetail-title {
  color: var(--purple-light-2);
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  color: var(--purple-light-2);
  margin: 0 0 24px 0;
  border-top: 1px solid white;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  

/* Footer */
footer {
  background-color: var(--purple-medium-3);
  width: 100%;
  height: 120px;
}

.footer-container-all {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-ul-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-redes {
  transition: all 150ms ease-in;
  margin-top: 20px;
  width: 30px;
}
.icon-redes:hover {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}
.icon-redes:active{
  background-color: red;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}

footer h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer p {
  font-weight: 200;
  font-size: 12px;
  color: var(--purple-light-2);
}

/* Navigation */
.inactive {
  display: none;
}

@media (min-width: 700px) {
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-searchForm{
    max-width: 400px;
  }

  .categoriesPreview-list {

    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
  }
}