* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {
  --scrollbar: #d8d8d8d0;
  --scrollbar-hover: #fafafa6c;
  --purple-light-1: #fafafb;
  --purple-light-2: rgb(240, 240, 240);
  --purple-medium-1: #83acc8;
  --purple-medium-2: #4889bf;
  --purple-medium-3: #215b8a;
  --purple-dark-1: #1d67d6;
  --purple-dark-2: #1365c2;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Inter', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

body {
  width: 100%;
  background-color: #0A0A0A;
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  background-color: var(--purple-light-1);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple-dark-2);
  border-radius: 10px;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
  object-fit: cover ;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: rgb(240, 240, 240);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: transparent;
  border: 2px solid var(--purple-dark-1);
  color: var(--purple-light-2);
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: white;
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

select {
  background-color: var(--purple-dark-2);
  border-radius: 4px;
  color: white;
  outline: none;
  border: none;
  width: 50px;
  padding: 10px;
}

.flag-icon {
  width: 100px;
}

#searchBtn {
  transition: all 150ms ease-in;
}

#searchBtn:hover {  
  background-color: var(--purple-medium-2);
}#searchBtn:active {  
  background-color: var(--purple-medium-2);
}


/* Shared ------------------------------------------------------------------------------*/
.header-container, .trendingPreview-header, .categoriesPreview-container, .liked-header{
  padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer, .liked-container{
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title, .liked-header {
  margin-bottom: 24px;
}

.trendingPreview-movieList::-webkit-scrollbar,
.liked-movieList::-webkit-scrollbar,
.relatedMovies-scrollContainer::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb,
.liked-movieList::-webkit-scrollbar-thumb,
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
  background: var(--scrollbar-hover);
  border-radius: 4px;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb:hover,
.liked-movieList::-webkit-scrollbar-thumb:hover,
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar);
}

.movie-container {
  transition: transform .5s;
  position: relative;
  cursor: pointer;
  background-image:(url('../assets/scale.jpeg'));
}
.movie-container:hover {
  transform: scale(1.1);
  z-index: 100;
  transition: transform .5s;
}

.movie-container--loading {
  background-color: rgba(240, 240, 240, 0.589);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading infinite 2s;
}
.movie-container--loading:nth-child(2) {
  animation-delay: .2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: .4s;
}

@keyframes loading {
  0%, 100% {
    opacity: 100%;
  }
  10% {
    opacity: 30%;
  }
  50% {
    opacity: 0%;
  }
}

#hardcore {
  width: 100%;
  height: 100%;
}

.icon {
  width: 30px;
}
.icon-search {
  width: 20px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}
.icon-arrow {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}

.movie-img {
  min-height: 175px;
  width: 100%;
  margin-right: 10px;
  transition: all 150ms ease-in;
  border-radius: 8px;
  animation: loading;
}
.movie-img:hover {
  transform: scale(1.05);
}

.movie-btn {
  color: transparent;
  text-shadow: 0 0 0 rgba(255,255,255);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .4s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 15px;
  padding: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
}
.movie-btn:hover {
  transition: all .4s;
  background-color: #0A0A0A;
  opacity: 0.8;
}
.movie-btn::before {
  transition: all .4s;
  content: '🤍';
  font-size: 16px;
}
.movie-btn--liked {
  opacity: 1;
  color: transparent;
  text-shadow: 0 0 0 var(--purple-dark-2);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 3px var(--purple-dark-2);
  transform: scale(1.2);
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  width: 45px;
  height: 45px;
  transition: all .4s;
}
.movie-btn--liked::before {
  content: '💙';
}


.categoriesPreview-list {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  flex-wrap: wrap;
}


/* Header ------------------------------------------------------------------------*/
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('../assets/scale.jpeg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(../assets/scale.jpeg);
  background-size: cover !important;
  background-position: center center;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  color: rgb(240, 240, 240);
  margin-bottom: 16px;
}
.header-title--categoryView {
  margin-top: 55px;
}

.header-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #197ceed5;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 200;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending --------------------------------------------------------------------------------------------------------------*/
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border: 2px solid var(--purple-dark-1);
  background-color: transparent;
  transition: all 150ms ease-in;
  border-radius: 8px;
  height: 32px;
  width: 72px;
}
.trendingPreview-btn:hover {
  background-color: var(--purple-dark-2);
  border: 2px solid transparent;
}

.trendingPreview-movieList,
.liked-movieList {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
  padding: 26px 24px 26px;
  scroll-behavior: smooth;
}

.trendingPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin-right:16px;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.trendingPreview-container .control{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  padding: 10px;
  background-color: rgba(255,255,255, 0.7);
}
.trendingPreview-container .prev{
  left: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.trendingPreview-container .next{ 
  right: 50px;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 999;
}


/* Categories ---------------------------------------------------------------------------*/
.category-container {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.category-container-preview--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-container--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: category-animation infinite 2s;
}
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--purple-dark-2);
  border-top-color: transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.category-title {
  transition: all 150ms ease-in;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title:hover {
  color: var(--purple-light-2);
  text-decoration:underline;
}.category-title:active {
  color: var(--purple-light-2);
  text-decoration:underline;
}

/* Generic List (search, trending & category) ---------------------------------------*/
.genericList-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
  gap: 13px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}

/* Movie Detail--------------------------------------------------------------------------- */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: #0A0A0A;
}

.movieDetail-title {
  color: var(--purple-light-2);
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  color: var(--purple-light-2);
  margin: 0 0 24px 0;
  border-top: 1px solid white;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  

/* Footer ---------------------------------------------------------------------------*/
footer {
  background-color: var(--purple-dark-2);
  width: 100%;
  height: 120px;
}

.footer-container-all {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-ul-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon-redes {
  transition: all 150ms ease-in;
  margin-top: 20px;
  transition: all .8s;
  width: 30px;
}
.icon-redes:hover {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
  transform: translateY(-5px);
  transition: all .5s;
}
.icon-redes:active{
  background-color: red;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(339deg) brightness(103%) contrast(101%);
}

footer h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer p {
  font-weight: 200;
  font-size: 12px;
  color: var(--purple-light-2);
}

/* Navigation -----------------------------------------------------------------------*/
.inactive {
  display: none;
}

@media (min-width: 700px) {
  .inactive {
    display: none;
  }

  #searchForm input{
    position: relative;
    border-radius: 20px;
    width: 200px;
    background-color: transparent;
    border: 2px solid var(--purple-dark-1);
    height: 30px;
  }
  #searchForm input:hover {
    cursor: default;
    border: 2px solid white;
  }
  #searchBtn {
    border-radius: 20px;
    height: 30px;
  }

  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header-searchForm{
    max-width: 400px;
  }
  .header-arrow {
    margin-top: -50px;
    position: fixed;
    z-index: 1;
  }
  .categoriesPreview-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .genericList-container .movie-img {
    width: 150px;
    height: 150px;
  }
  .genericList-container .movie-container {
    display: inline-block;
    width: auto;
    height: 200px;
    margin: 0 auto;
  }
  .category-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .movieDetail-container {
    padding: 0;
    background-color: #000000bb;
  }
  .movieDetail-container h1 {
    font-size: 24px;
    padding: 36px;
  }
  .movieDetail-container h2 {
    padding: 36px;
    font-size: 22px;
  }
  .movieDetail-container p {
    font-size: 20px;
    padding: 36px;
  }
  .movieDetail-container .relatedMovies-scrollContainer {
    padding: 36px;
  }
  .movieDetail-container .categories-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .movieDetail-title {
    color: var(--purple-dark-2);
  }
}